/*Selector {
Property: value;
} */

body {
  font-family: "verdana",sans-serif;
}

#nmenu {
list-style: none;
display: inline-flex;
}

h1 {

font-size: 4vw;
border-width:3px;
}

.legenda {
  color: turquoise;
  font-size: 2vw;
  font-weight: bold;
}
